<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>Angular App</h1>
</div>
<div class="table">
<table border="2">
    <tr>
    <td>
        ID
        </td>
        <td>
        
        {{product.id}}</td>
    </tr>
    <tr>
    <td>Name Is :
        </td>
        <td>
        {{product.name}}
        </td>
    </tr>
    <tr>
    <td>
        Photo
        </td>
        <td>
      <img src="../assets/images/{{product.photo}}" width="50%"> 
        </td>
    </tr>
    <tr>
    <td>
        Color
        </td>
        <td>
        {{product.color}}
        </td>
    
    </tr>
</table>
</div>

